set $background {{background}}
set $foreground {{foreground}}

set $surface1 {{surface1}}
set $surface2 {{surface2}}
set $colorActive {{focus}}
set $colorInactive {{comment}}
set $red {{red}}
set $brightred {{brightred}}
set $cyan {{cyan}}
set $green {{green}}
set $blue {{blue}}
set $magenta {{magenta}}
