screenshots
effect-blur=6x3
font=sans
bs-hl-color={{strip.brightred}}
key-hl-color={{strip.yellow}}
layout-text-color={{strip.foreground}}
ring-color={{strip.blue}}
ring-clear-color={{strip.brightred}}
ring-ver-color={{strip.cyan}}
ring-wrong-color={{strip.red}}
text-color={{strip.foreground}}
text-clear-color={{strip.brightred}}
text-ver-color={{strip.cyan}}
text-wrong-color={{strip.red}}
inside-color={{strip.background}}
inside-clear-color={{strip.background}}
inside-ver-color={{strip.background}}
inside-wrong-color={{strip.background}}
separator-color=00000000
line-color=00000000
line-clear-color=00000000
line-ver-color=00000000
line-wrong-color=00000000
