@import "../../.cache/colors/waybar.css";

* {
  font-family: "Overpass Nerd Font Propo";
  font-size: 16px;
  border-radius: 0;
}

tooltip {
  background-color: @surface1;
  min-height: 0;
  border: 1px solid @surface2;
  border-radius: 6px;
  box-shadow: 0px 0px 10px alpha(black, 0.6);
}

tooltip label {
  margin: 0;
  padding: 8px;
  min-height: 0;
  color: @foreground;
}

window#waybar {
  background-color: @background;
  transition-property: background-color;
  transition-duration: 0.2s;
  min-height: 30px;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
  min-width: 20em;
}

#workspaces button {
  padding: 0 6px;
  color: @foreground;
  background-color: transparent;
  border: none;
  /* border-bottom: 3px solid transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: alpha(@surface2, 0.6);
  box-shadow: inherit;
  border: none;
  /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @blue;
  color: @background;
  border: none;
  /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  /* background-color: @color8; */
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-vpn,
#custom-player,
#custom-power,
#custom-wallpaper,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 4px;
  margin: 0 4px;
  min-width: 60px;
}

#power-profiles-daemon {
  min-width: 20px;
  padding: 0 4px;
  margin: 0 4px;
}

#network {
  min-width: 90px;
}

#pulseaudio,
#battery {
  padding: 0 8px;
}

#clock {
  /* border-bottom: 1px solid @color6; */
  color: @foreground;
  min-width: 220px;
  font-weight: bold;
}

#custom-power {
  color: @red;
}

#battery {
  /* font-family: "monospace"; */
  /* background-color: #ffffff; */
  color: @red;
  letter-spacing: 1px;
}

#battery.charging {
  background-color: @green;
  color: @background;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}

#battery.critical:not(.charging) {
  background-color: @brightred;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @background;
}

#cpu {
  /* background-color: @color2; */
  /* color: @color0; */
}

#memory {
  /* background-color: @color5; */
}

#backlight {
  background-color: #90b1b1;
}

#network {
  /* background-color: #2980b9; */
}

#network.disconnected {
  /* background-color: @color1; */
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  padding: 0 4px;
  margin: 0 4px;
  /* background-color: alpha(@cyan, 0.5); */
}

#idle_inhibitor,
#custom-power,
#custom-wallpaper,
#custom-vpn,
#custom-color-scheme {
  min-width: 32px;
  padding: 0;
  margin: 0;
}

#custom-power {
  margin: 0 4px;
}

#idle_inhibitor.activated {
  background-color: @magenta;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
